name: TDSS Tag Creation

on:
  push:
    tags:        
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - name: Say hellow
        run: echo hellow
